<div ngClass.gt-sm="content-desktop" ngClass.lt-md="content-desktop">
  <mat-toolbar fxLayoutGap="8px" class="active-elevation">
    <button mat-icon-button (click)="closeDrawer2()" matTooltip="Cancelar" type="button">
      <mat-icon>close</mat-icon>
    </button>
    <div>
      <span> Matriz de admisión </span>
    </div>
    <span fxFlex></span>
  </mat-toolbar>

  <ngx-simplebar class="sub-content-desktop">

    <mat-stepper orientation="vertical" linear="true" #stepper fxFlex.lt-md="100" fxFlex.md="80" fxFlex.gt-md="65">
      <mat-step [stepControl]="criterio1">
        <ng-template matStepLabel>Planteamiento de la necesidad, problemas u oportunidades</ng-template>

        <form [formGroup]="criterio1" autocomplete="off">
          <div fxLayout="column" fxLayoutGap="15px">

            <br>
            <p><b>Planteamiento de la necesidad, problemas u oportunidades: </b></p>
            <p class="mat-subheading-2">{{ initiative.investment.coreProblem }}</p>
            <br>

            <div fxLayout="row wrap">
              <div fxFlex fxLayout="column">
                <div fxLayout="row wrap" fxLayoutGap.gt-sm="10px">

                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Puntuación</mat-label>
                    <mat-select formControlName="statementNeedValue">
                      <!-- <mat-option *ngFor="let num of statementMaxValue" [value]="num">{{ num }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Agregar Comentario</mat-label>
                    <textarea matInput formControlName="statementNeedDescription" placeholder="Máximo 200 caracteres..."
                      rows="4"></textarea>
                  </mat-form-field>

                </div>
              </div>
            </div>
            <div>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="criterio2">
        <ng-template matStepLabel>Número de Beneficiarios</ng-template>

        <form [formGroup]="criterio2" autocomplete="off">
          <div fxLayout="column" fxLayoutGap="15px">

            <br>
            <p><b>Número de Beneficiarios: </b></p>
            <p class="mat-subheading-2">{{ initiative.delimit.estimatedBenef }}</p>
            <br>

            <div fxLayout="row wrap">
              <div fxFlex fxLayout="column">
                <div fxLayout="row wrap" fxLayoutGap.gt-sm="10px">

                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Puntuación</mat-label>
                    <mat-select formControlName="numberBeneficiariesValue">
                      <!-- <mat-option *ngFor="let rating of beneficiariestMaxValue" [value]="rating">
                        {{rating}}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Agregar Comentario</mat-label>
                    <textarea matInput formControlName="numberBeneficiariesDescription"
                      placeholder="Máximo 200 caracteres..." rows="4"></textarea>
                  </mat-form-field>

                </div>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Volver</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="criterio3">
        <ng-template matStepLabel>Objetivos /Metas del Documento de Preinversión </ng-template>

        <form [formGroup]="criterio3" autocomplete="off">
          <div fxLayout="column" fxLayoutGap="15px">

            <br>
            <p><b>Objetivos /Metas del Documento de Preinversión: </b></p>
            <p class="mat-subheading-2">{{ initiative.studyDescription.objetiveGeneral }}</p>
            <br>

            <div fxLayout="row wrap">
              <div fxFlex fxLayout="column">
                <div fxLayout="row wrap" fxLayoutGap.gt-sm="10px">

                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Puntuación</mat-label>
                    <mat-select formControlName="objetivesGoalsValue">
                      <!-- <mat-option *ngFor="let rating of goalsMaxValue" [value]="rating"> -->
                        <!-- {{rating}} -->
                      <!-- </mat-option> -->
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Agregar Comentario</mat-label>
                    <textarea matInput formControlName="objetivesGoalsDescription" placeholder="Máximo 200 caracteres..."
                      rows="4"></textarea>
                  </mat-form-field>

                </div>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Volver</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="criterio4">
        <ng-template matStepLabel>TDR</ng-template>

        <form [formGroup]="criterio4" autocomplete="off">
          <div fxLayout="column" fxLayoutGap="15px">

            <br>
            <p><b>Objetivos /Metas del Documento de Preinversión: </b></p>
            <p *ngIf="initiative.requirementsDocuments.tdr">
              <b>TDR:</b>
              <a mat-button color="warn" mat-line [href]="initiative.requirementsDocuments.tdr" target="_blank">Abrir
                <mat-icon>
                  launch</mat-icon>
              </a>
            </p>
            <p *ngIf="!initiative.requirementsDocuments.tdr">
              <b>TDR:</b>
              No se Adjuntó un archivo
            </p>
            <br>

            <div fxLayout="row wrap">
              <div fxFlex fxLayout="column">
                <div fxLayout="row wrap" fxLayoutGap.gt-sm="10px">

                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Puntuación</mat-label>
                    <mat-select formControlName="tdrValue">
                      <!-- <mat-option *ngFor="let rating of tdrMaxValue" [value]="rating">
                        {{rating}}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Agregar Comentario</mat-label>
                    <textarea matInput formControlName="tdrDescription" placeholder="Máximo 200 caracteres..."
                      rows="4"></textarea>
                  </mat-form-field>

                </div>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Volver</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="criterio5">
        <ng-template matStepLabel>Costo Estimado del documento preinversión </ng-template>

        <form [formGroup]="criterio5" autocomplete="off">
          <div fxLayout="column" fxLayoutGap="15px">

            <br>
            <p><b>Costo Estimado del documento preinversión: </b></p>
            <p class="mat-subheading-2">Q. {{ initiative.requirementsDocuments.stimatedBudget.totalStimated }}</p>
            <br>

            <div fxLayout="row wrap">
              <div fxFlex fxLayout="column">
                <div fxLayout="row wrap" fxLayoutGap.gt-sm="10px">

                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Puntuación</mat-label>
                    <mat-select formControlName="estimatedCostValue">
                      <!-- <mat-option *ngFor="let rating of costMaxValue" [value]="rating">
                        {{rating}}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Agregar Comentario</mat-label>
                    <textarea matInput formControlName="estimatedCostDescription" placeholder="Máximo 200 caracteres..."
                      rows="4"></textarea>
                  </mat-form-field>

                </div>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Volver</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="criterio6">
        <ng-template matStepLabel>Cronograma General del Estudio </ng-template>

        <form [formGroup]="criterio6" autocomplete="off">
          <div fxLayout="column" fxLayoutGap="15px">

            <br>
            <p><b>Cronograma General del Estudio: </b></p>
            <p *ngIf="initiative.requirementsDocuments.scheduleActiv">
              <b>Cronograma:</b>
            </p>
            <div>
              <full-calendar #calendar [options]="calendarOptions"></full-calendar>
            </div>
            <p *ngIf="!initiative.requirementsDocuments.stimatedBudget.activities">
              <b>Cronograma:</b>
              No se Adjuntó un archivo
            </p>
            <br>

            <div fxLayout="row wrap">
              <div fxFlex fxLayout="column">
                <div fxLayout="row wrap" fxLayoutGap.gt-sm="10px">

                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Puntuación</mat-label>
                    <mat-select formControlName="generalScheduleValue">
                      <!-- <mat-option *ngFor="let rating of scheduleMaxValue" [value]="rating">
                        {{rating}}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Agregar Comentario</mat-label>
                    <textarea matInput formControlName="generalScheduleDescription" placeholder="Máximo 200 caracteres..."
                      rows="4"></textarea>
                  </mat-form-field>

                </div>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Volver</button>
              <button mat-button (click)="resumeMatrix()" matStepperNext>Siguiente</button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Resumen de Admisión </ng-template>

        <div fxLayout="column" fxLayoutGap="15px">

          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span class="mat-subheading-2">Planteamiento de la necesidad, problemas u oportunidades:</span>
              <!-- <span class="mat-title">{{ admissionResume?.statementNeedValue}} /
                {{admissionValues.statementMaxValue}}</span> -->
            </div>
            <!-- <mat-progress-bar mode="determinate"
              [value]="(admissionResume?.statementNeedValue * 100) / admissionValues.statementMaxValue" color="accent">
            </mat-progress-bar> -->
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="15px">

          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span class="mat-subheading-2">Número de Beneficiarios:</span>
              <!-- <span class="mat-title">{{ admissionResume?.numberBeneficiariesValue}} /
                {{admissionValues.beneficiariestMaxValue}}</span> -->
            </div>
            <!-- <mat-progress-bar mode="determinate"
              [value]="(admissionResume?.numberBeneficiariesValue * 100) / admissionValues.beneficiariestMaxValue"
              color="accent">
            </mat-progress-bar> -->
          </div>

          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span class="mat-subheading-2">Objetivos /Metas del Documento de Preinversión:</span>
              <!-- <span class="mat-title">{{ admissionResume?.objetivesGoalsValue}} / {{admissionValues.goalsMaxValue}}</span> -->
            </div>
            <!-- <mat-progress-bar mode="determinate"
              [value]="(admissionResume?.objetivesGoalsValue * 100) / admissionValues.goalsMaxValue" color="accent">
            </mat-progress-bar> -->
          </div>

          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span class="mat-subheading-2">TDR:</span>
              <!-- <span class="mat-title">{{ admissionResume?.tdrValue}} / {{admissionValues.tdrMaxValue }}</span> -->
            </div>
            <!-- <mat-progress-bar mode="determinate"
              [value]="(admissionResume?.tdrValue * 100) / admissionValues.tdrMaxValue " color="accent">
            </mat-progress-bar> -->
          </div>

          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span class="mat-subheading-2">Costo Estimado del documento preinversión:</span>
              <!-- <span class="mat-title">{{ admissionResume?.estimatedCostValue}} / {{admissionValues.costMaxValue }}</span> -->
            </div>
            <!-- <mat-progress-bar mode="determinate"
              [value]="(admissionResume?.estimatedCostValue * 100) / admissionValues.costMaxValue " color="accent">
            </mat-progress-bar> -->
          </div>

          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span class="mat-subheading-2">Cronograma General del Estudio:</span>
              <!-- <span class="mat-title">{{ admissionResume?.generalScheduleValue}} / {{admissionValues.scheduleMaxValue}}
              </span> -->
            </div>
            <!-- <mat-progress-bar mode="determinate"
              [value]="(admissionResume?.generalScheduleValue * 100) / admissionValues.scheduleMaxValue" color="accent">
            </mat-progress-bar> -->
          </div>
        </div>

        <div fxLayout="column">

          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="mat-title">Total: </span>
            <span class="mat-headline">{{ admissionResume?.total}} / 100</span>
          </div>
          <mat-progress-bar mode="determinate" [value]="admissionResume?.total" color="warn"></mat-progress-bar>
          <br>
          <div *ngIf="admissionResume?.total < 60" class="load-spin" fxFlex>
            <h2>Solicitud No Admitida</h2>
          </div>
          <div *ngIf="admissionResume?.total >= 60" class="load-spin" fxFlex>
            <h2>Solicitud Admitida</h2>
          </div>

        </div>

        <div *ngIf="isMatrixPriorization">
          <h2>Matriz de Priorizacion <small> (Estudio no cuenta con Fuente de Financiamiento)</small></h2>
          <br>
          <br>
          <table>
            <tr>
              <th>Descripción</th>
              <th>Punteo</th>
            </tr>
            <tr>
              <td>Vinculacion de Proyectos </td>
              <td>{{valuePlanning}}</td>
            </tr>
            <tr>
              <td>Objetivos del proyecto </td>
              <td>{{admissionResume?.objetivesGoalsValue}}</td>
            </tr>
            <tr>
              <td>Cobertura en relación a beneficiarios </td>
              <td>{{admissionResume?.numberBeneficiariesValue * 2}}</td>
            </tr>
            <tr>
              <td>Punteo en relación a los Índices de Pobreza </td>
              <td>{{matrixPriorization?.indiceProbreza}}</td>
            </tr>
            <tr>
              <td>Manual de criterios de priorización de proyectos </td>
              <td>{{matrixPriorization?.valueFunctions}}</td>
            </tr>
            <tr>
              <td>Total de Priorizacion </td>
              <td>{{totalPriorization}}</td>
            </tr>
          </table>
        </div>

        <br>
        <mat-divider></mat-divider>
        <br>
        <div>
          <button mat-button color="primary" (click)="saveAdmissionMatrix()">Finalizar</button>
          <span fxFlex></span>
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-button (click)="stepper.reset()">Restablecer</button>
        </div>

      </mat-step>


    </mat-stepper>


  </ngx-simplebar>
</div>
