<div ngClass.gt-sm="content-desktop" ngClass.lt-md="content-desktop">
  <mat-toolbar fxLayoutGap="8px" class="active-elevation">
    <button mat-icon-button (click)="closeDrawer1()" matTooltip="Cancelar" type="button">
      <mat-icon>close</mat-icon>
    </button>
    <div>
      <span> Matriz de admisión </span>
    </div>
    <span fxFlex></span>
  </mat-toolbar>

  <mat-stepper #stepper fxFill linear="true">

    <mat-step [stepControl]="criterios">
      <ng-template matStepLabel> Calificar </ng-template>
      <form [formGroup]="criterios" (ngSubmit)="loadMatrix()" autocomplete="off">
        <ngx-simplebar fxLayout="row" class="my-content">
          <div fxLayout="column" fxLayoutGap="8px">

            <p class="mat-headline-6">Planteamiento de la necesidad, problemas u oportunidades</p>
            <p class="mat-subheading-2">{{ initiative.investment.coreProblem }}</p>
            <br>
            <div fxLayout="column">
              <div fxLayout="row">
                <mat-form-field fxFlex="30" appearance="outline">
                  <mat-label> Puntuación </mat-label>
                  <mat-select formControlName="statementNeedValue">
                    <mat-optgroup *ngFor="let group of ratingGroups" [label]="group.name">
                      <mat-option *ngFor="let rating of group.ratings" [value]="rating">
                        {{rating}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-form-field fxFill appearance="outline">
                <mat-label> Agregar Comentario</mat-label>
                <textarea matInput formControlName="statementNeedDescription"
                  placeholder="Máximo 200 caracteres..." rows="2"></textarea>
              </mat-form-field>
            </div>

            <br>
            <mat-divider></mat-divider>
            <br>

            <p class="mat-headline-6">Número de beneficiarios</p>
            <p class="mat-subheading-2">{{ initiative.delimit.estimatedBenef | number }}</p>
            <br>
            <div fxLayout="column">
              <div fxLayout="row">
                <mat-form-field fxFlex="30" appearance="outline">
                  <mat-label> Puntuación </mat-label>
                  <mat-select formControlName="numberBeneficiariesValue">
                    <mat-optgroup *ngFor="let group of ratingGroups" [label]="group.name">
                      <mat-option *ngFor="let rating of group.ratings" [value]="rating">
                        {{rating}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-form-field fxFill appearance="outline">
                <mat-label> Agregar Comentario</mat-label>
                <textarea matInput formControlName="numberBeneficiariesDescription"
                  placeholder="Máximo 200 caracteres..." rows="2"></textarea>
              </mat-form-field>
            </div>

            <br>
            <mat-divider></mat-divider>
            <br>

            <p class="mat-headline-6">Objetivos y metas del documento de preinversión</p>
            <p class="mat-subheading-2">{{ initiative.studyDescription.objetiveGeneral }}</p>
            <br>
            <div fxLayout="column">
              <div fxLayout="row">
                <mat-form-field fxFlex="30" appearance="outline">
                  <mat-label> Puntuación </mat-label>
                  <mat-select formControlName="objetivesGoalsValue">
                    <mat-optgroup *ngFor="let group of ratingGroups" [label]="group.name">
                      <mat-option *ngFor="let rating of group.ratings" [value]="rating">
                        {{rating}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-form-field fxFill appearance="outline">
                <mat-label> Agregar Comentario</mat-label>
                <textarea matInput formControlName="objetivesGoalsDescription"
                  placeholder="Máximo 200 caracteres..." rows="2"></textarea>
              </mat-form-field>
            </div>

            <br>
            <mat-divider></mat-divider>
            <br>

            <p class="mat-headline-6">TDR</p>
            <p class="mat-body"><b>Objetivos y metas del documento de preinversión: </b></p>
            <br>
            <p *ngIf="initiative.requirementsDocuments.tdr">
              <b>TDR:</b>
              <a mat-button color="accent" mat-line [href]="initiative.requirementsDocuments.tdr" target="_blank">
                Abrir <mat-icon>launch</mat-icon>
              </a>
            </p>
            <p *ngIf="!initiative.requirementsDocuments.tdr">
              <b>TDR:</b> <b> No se adjuntó un archivo</b>
            </p>
            <br>
            <div fxLayout="column">
              <div fxLayout="row">
                <mat-form-field fxFlex="30" appearance="outline">
                  <mat-label> Puntuación </mat-label>
                  <mat-select formControlName="tdrValue">
                    <mat-optgroup *ngFor="let group of ratingGroups" [label]="group.name">
                      <mat-option *ngFor="let rating of group.ratings" [value]="rating">
                        {{rating}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-form-field fxFill appearance="outline">
                <mat-label> Agregar Comentario</mat-label>
                <textarea matInput formControlName="tdrDescription"
                  placeholder="Máximo 200 caracteres..." rows="2"></textarea>
              </mat-form-field>
            </div>

            <br>
            <mat-divider></mat-divider>
            <br>

            <p class="mat-headline-6">Costo estimado del documento preinversión</p>
            <p class="mat-body">Q. {{ initiative.requirementsDocuments.stimatedBudget.totalStimated | number: '.2' }}</p>
            <br>
            <div fxLayout="column">
              <div fxLayout="row">
                <mat-form-field fxFlex="30" appearance="outline">
                  <mat-label> Puntuación </mat-label>
                  <mat-select formControlName="estimatedCostValue">
                    <mat-optgroup *ngFor="let group of ratingGroups" [label]="group.name">
                      <mat-option *ngFor="let rating of group.ratings" [value]="rating">
                        {{rating}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-form-field fxFill appearance="outline">
                <mat-label> Agregar Comentario</mat-label>
                <textarea matInput formControlName="estimatedCostDescription"
                  placeholder="Máximo 200 caracteres..." rows="2"></textarea>
              </mat-form-field>
            </div>

            <br>
            <mat-divider></mat-divider>
            <br>

            <p class="mat-headline-6">Cronograma general del estudio</p>
            <p *ngIf="initiative.requirementsDocuments.scheduleActiv"></p>
            <br>
            <div>
              <full-calendar #calendar [options]="calendarOptions"></full-calendar>
            </div>
            <p *ngIf="!initiative.requirementsDocuments.stimatedBudget.activities">
              <b> No se adjuntó un archivo</b>
            </p>
            <div fxLayout="column">
              <div fxLayout="row">
                <mat-form-field fxFlex="30" appearance="outline">
                  <mat-label> Puntuación </mat-label>
                  <mat-select formControlName="generalScheduleValue">
                    <mat-optgroup *ngFor="let group of ratingGroups" [label]="group.name">
                      <mat-option *ngFor="let rating of group.ratings" [value]="rating">
                        {{rating}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-form-field fxFill appearance="outline">
                <mat-label> Agregar Comentario</mat-label>
                <textarea matInput formControlName="generalScheduleDescription"
                  placeholder="Máximo 200 caracteres..." rows="2"></textarea>
              </mat-form-field>
            </div>

            <br>
            <br>
            <mat-divider></mat-divider>
            <br>
            <br>

            <button mat-raised-button matStepperNext color="primary" type="submit">
              <mat-icon fontIcon="done"></mat-icon>
              Finalizar
            </button>

          </div>
        </ngx-simplebar>
      </form>
    </mat-step>

    <mat-step [stepControl]="resume">
      <ng-template matStepLabel> Finalizar </ng-template>
      <form [formGroup]="resume" (ngSubmit)="saveAdmissionMatrix()" autocomplete="off">
        <ngx-simplebar fxLayout="row" class="my-content">
          <div fxLayout="column" fxLayoutGap="15px">

            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="mat-subheading-2">Planteamiento de la necesidad, problemas u oportunidades</span>
                <span class="mat-title"> {{ admissionResume?.statementNeedValue}} /
                  {{admissionValues.statementMaxValue}} </span>
              </div>

              <mat-progress-bar mode="determinate" [value]="(admissionResume?.statementNeedValue * 100) / admissionValues.statementMaxValue" color="primary">
              </mat-progress-bar>
            </div>

            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="mat-subheading-2">Número de beneficiarios</span>
                <span class="mat-title"> {{ admissionResume?.numberBeneficiariesValue}} /
                  {{admissionValues.beneficiariestMaxValue}} </span>
              </div>
              <mat-progress-bar mode="determinate" [value]="(admissionResume?.numberBeneficiariesValue * 100) / admissionValues.beneficiariestMaxValue" color="primary">
              </mat-progress-bar>
            </div>

            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="mat-subheading-2">Objetivos y metas del documento de preinversión</span>
                <span class="mat-title"> {{ admissionResume?.objetivesGoalsValue}} / {{admissionValues.goalsMaxValue}} </span>
              </div>
              <mat-progress-bar mode="determinate" [value]="(admissionResume?.objetivesGoalsValue * 100) / admissionValues.goalsMaxValue" color="primary">
              </mat-progress-bar>
            </div>

            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="mat-subheading-2">TDR</span>
                <span class="mat-title"> {{ admissionResume?.tdrValue}} / {{admissionValues.tdrMaxValue }} </span>
              </div>
              <mat-progress-bar mode="determinate" [value]="(admissionResume?.tdrValue * 100) / admissionValues.tdrMaxValue" color="primary">
              </mat-progress-bar>
            </div>

            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="mat-subheading-2">Costo estimado del documento preinversión</span>
                <span class="mat-title"> {{ admissionResume?.estimatedCostValue}} / {{admissionValues.costMaxValue }} </span>
              </div>
              <mat-progress-bar mode="determinate" [value]="(admissionResume?.estimatedCostValue * 100) / admissionValues.costMaxValue" color="primary">
              </mat-progress-bar>
            </div>

            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="mat-subheading-2">Cronograma general del estudio</span>
                <span class="mat-title"> {{ admissionResume?.generalScheduleValue}} / {{admissionValues.scheduleMaxValue}} </span>
              </div>
              <mat-progress-bar mode="determinate" [value]="(admissionResume?.generalScheduleValue * 100) / admissionValues.scheduleMaxValue" color="primary">
              </mat-progress-bar>
            </div>
            <br>
            <br>
            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="mat-subheading-2">Total: </span>
                <span class="mat-title">{{ admissionResume?.total}} / 100</span>
              </div>
              <div *ngIf="admissionResume?.total < 60" class="load-spin" fxFlex>
                <mat-progress-bar mode="determinate" [value]="admissionResume?.total" color="warn">
                </mat-progress-bar>
                <br>
                <br>
                <h2>SOLICITUD NO ADMITIDA</h2>
              </div>

              <div *ngIf="admissionResume?.total >= 60" class="load-spin" fxFlex>
                <mat-progress-bar  mode="determinate" [value]="admissionResume?.total" color="accent">
                 </mat-progress-bar>
                 <br>
                 <br>
                 <h2>SOLICITUD ADMITIDA</h2>
              </div>
              <br>
              <br>

              <div *ngIf="isMatrixPriorization">
                <br>
                <span class="mat-title"> Matriz de Priorización <small> (Estudio no cuenta con fuente de financiamiento)</small> </span>
                <br>
                <br>
                <table>
                  <tr>
                    <th>Descripción</th>
                    <th>%</th>
                    <th>Punteo</th>
                  </tr>
                  <tr>
                    <td>VINCULACIÓN DE PROYECTOS </td>
                    <td>{{valuePlanning | number}}</td>
                  </tr>
                  <tr>
                    <td>OBJETIVOS DEL PROYECTO </td>
                    <td>{{admissionResume?.objetivesGoalsValue | number}}</td>
                  </tr>
                  <tr>
                    <td>COBERTURA EN RELACIÓN A BENEFICIARIOS </td>
                    <td>{{admissionResume?.numberBeneficiariesValue * 2 | number}}</td>
                  </tr>
                  <tr>
                    <td>PUNTEO EN RELACIÓN A LOS ÍNDICES DE POBREZA </td>
                    <td>{{matrixPriorization?.indiceProbreza}}</td>
                  </tr>
                  <tr>
                    <td>MANUAL DE CRITERIOS DE PRIORIZACIÓN DE PROYECTOS </td>
                    <td>{{matrixPriorization?.valueFunctions}}</td>
                  </tr>
                  <tr>
                    <td>TOTAL DE PRIORIZACIÓN </td>
                    <td>{{totalPriorization | number}}</td>
                  </tr>
                </table>
              </div>

            </div>
          </div>

          <div fxLayout="column" fxLayoutGap="15px">
            <mat-form-field appearance="outline">
              <mat-label>Agregar Comentario</mat-label>
              <textarea matInput formControlName="descriptionGeneral" placeholder="Máximo 200 caracteres..."
                rows="4"></textarea>
            </mat-form-field>

            <button mat-raised-button color="accent" type="submit">
              <mat-icon fontIcon="save"></mat-icon>
              Guardar
            </button>
          </div>

        </ngx-simplebar>
      </form>
    </mat-step>

  </mat-stepper>
</div>
