
mat-toolbar {
  /* Blur effect */
  background: rgba(120, 192, 255, 0.2);
  backdrop-filter: blur(18px); // This be the blur

  /* Position */
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 10000000000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.form {
  height: calc(100vh - 65px);
}

.content-stepper {
  height: calc(100vh - 192px);
  padding: 16px;
}

