<div class="active-elevation">
  <mat-card-content>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="RESUMEN">
        <br>
        <div class="img-content" fxLayout="row">
          <img class="img-1" src="{{'../../../../../../../assets/docs/tabla 01.jpg'}}" >
        </div>
      </mat-tab>

      <mat-tab label="GUÍA A">
        <br>
        <div class="img-content" fxLayout="row">
          <img class="img-2" src="{{'../../../../../../../assets/docs/tabla 02.jpg'}}" >
        </div>
      </mat-tab>

      <mat-tab label="GUÍA B y C">
        <br>
        <div class="img-content" fxLayout="row">
          <img class="img-3" src="{{'../../../../../../../assets/docs/tabla 03.jpg'}}" >
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <br>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
    </mat-card-actions>
    <br>
</div>
