<form (ngSubmit)="onSubmit()" [formGroup]="newFinancing" autocomplete="off">

  <ngx-simplebar ngClass.gt-sm="content-desktop" ngClass.lt-md="content-desktop">

    <mat-toolbar fxLayoutGap="8px" class="active-elevation">
      <button mat-icon-button (click)="closeDrawer1()" matTooltip="Cancelar" type="button">
        <mat-icon>close</mat-icon>
      </button>

      <span *ngIf="financing">Editar financiamiento</span>
      <span *ngIf="!financing">Nuevo financiamiento</span>
      <span fxFlex></span>

      <button mat-icon-button *ngIf="financing" (click)="deleteFinancing()" color="warn" type="button">
        <mat-icon>delete_outline</mat-icon>
      </button>

      <button mat-flat-button color="primary" type="submit">
        <mat-icon fontIcon="save"></mat-icon>Guardar
      </button>
    </mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" class="form">

      <mat-card fxFlex="90" (click)="editCard1 = true" (clickOutside)="outCard1()" [ngClass]="elevationCard1"
        (mouseover)="card1Style($event)" (mouseout)="card1Style($event)" class="radius">

        <mat-card-content fxLayout="column" fxLayoutGap="12px">

          <mat-form-field fxFill appearance="outline">
            <mat-label>Nombre del financiamiento</mat-label>
            <input matInput formControlName="name" type="text">
            <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
            <mat-error *ngIf="newFinancing.get('name')?.hasError('required')">
              Nombre requerido
            </mat-error>
          </mat-form-field>

        </mat-card-content>

        <mat-card-actions>
        </mat-card-actions>

      </mat-card>

    </div>

  </ngx-simplebar>
</form>
