<ngx-simplebar ngClass.gt-sm="content-desktop" ngClass.lt-md="content-desktop">
  <mat-toolbar fxLayoutGap="8px" class="active-elevation">

    <button mat-icon-button (click)="closeDrawer2()" matTooltip="Cancelar" type="button">
      <mat-icon>close</mat-icon>
    </button>

    <span>{{ currentAlternative ? 'Editar ' : 'Nueva ' }} alternativa</span>

    <span fxFlex></span>
  </mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="center center" class="form">
    <div fxFlex="90">

      <mat-stepper #stepper fxFill linear="true">
        <mat-step [stepControl]="preliminaryName">
          <ng-template matStepLabel>Paso 1</ng-template>

          <form [formGroup]="preliminaryName" autocomplete="off">
            <ngx-simplebar class="content-stepper">

              <div fxLayout="column" fxLayoutGap="15px">
                <br />
                <div fxLayout="column" fxLayoutAlign="space-around center">
                  <p class="mat-headline-6">Nombre preliminar de la idea de proyecto de inversión en relación a la
                    alternativa
                    seleccionada</p>
                </div>

                <div fxLayout="column" fxLayoutGap="15px">
                  <br>

                  <mat-form-field fxFill appearance="outline">
                    <mat-label>Tipo de idea de proyecto</mat-label>
                    <mat-select formControlName="typeProject" (selectionChange)="enableTypeProject()">
                      <mat-option value="Forma Capital Fijo">
                        Forma Capital Fijo
                      </mat-option>
                      <mat-option value="No Forma Capital Fijo">
                        No Forma Capital Fijo
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="preliminaryName.get('typeProject')?.hasError('required')">
                      El tipo de idea es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>

                  <div fxLayout="row wrap">
                    <p fxFlex="10" class="mat-subtitle-2" fxLayoutAlign="center center">A.</p>
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Proceso</mat-label>
                      <mat-select formControlName="proccess">
                        <mat-option *ngFor="let proceso of dataSourceProcesos" [value]="proceso.DESCRIPCION">
                          {{proceso.DESCRIPCION}}
                        </mat-option>
                      </mat-select>
                      <!-- <mat-error *ngIf="preliminaryName.get('typeProject')?.hasError('required')">
                          El tipo de idea es <strong>requerido</strong>
                        </mat-error> -->
                    </mat-form-field>
                  </div>

                  <div fxLayout="row wrap">
                    <p fxFlex="10" class="mat-subtitle-2" fxLayoutAlign="center center">B.</p>
                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Objeto</mat-label>
                      <mat-select formControlName="object">
                        <mat-option *ngFor="let objeto of objetos" [value]="objeto.NOMBRE">
                          {{objeto.NOMBRE}}
                        </mat-option>
                      </mat-select>
                      <!-- <mat-error *ngIf="preliminaryName.get('typeProject')?.hasError('required')">
                          El tipo de idea es <strong>requerido</strong>
                        </mat-error> -->
                    </mat-form-field>
                  </div>

                  <div fxLayout="row wrap">

                    <p fxFlex="10" class="mat-subtitle-2" fxLayoutAlign="center center">C.</p>

                    <div fxFlex fxLayout="column">

                      <div fxLayout="row wrap" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex appearance="outline">
                          <mat-label>Departamento</mat-label>
                          <mat-select formControlName="departament" (selectionChange)="selecDepartament()">
                            <mat-option *ngFor="let depto of departamentos" [value]="depto.NOMBRE">
                              {{depto.NOMBRE}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex appearance="outline">
                          <mat-label>Municipio</mat-label>
                          <mat-select formControlName="municipality">
                            <mat-option *ngFor="let mncpio of municipios" [value]="mncpio.NOMBRE">
                              {{mncpio.NOMBRE}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                    </div>

                  </div>

                  <p class="mat-subtitle-2">Nombre preliminar del proyecto</p>
                  <p class="mat-subtitle-1">
                    <span *ngIf="preliminaryName.get('proccess')?.value">A. {{preliminaryName.get('proccess')?.value
                      }}&nbsp;</span>
                    <span *ngIf="preliminaryName.get('object')?.value">B. {{ preliminaryName.get('object')?.value
                      }}&nbsp;</span>
                    <span *ngIf="preliminaryName.get('departament')?.value"> C. {{
                      preliminaryName.get('municipality')?.value }},
                      {{ preliminaryName.get('departament')?.value }}</span>
                  </p>
                </div>

                <div fxLayout="row" fxLayoutAlign="end center">
                  <button matStepperNext mat-raised-button color="accent">
                    <mat-icon>navigate_next</mat-icon>Siguiente
                  </button>
                </div>
              </div>
            </ngx-simplebar>
          </form>
        </mat-step>

        <mat-step [stepControl]="responsibleEntity">
          <ng-template matStepLabel>Paso 2 </ng-template>

          <form [formGroup]="responsibleEntity" autocomplete="off">
            <ngx-simplebar class="content-stepper">

              <div fxLayout="column" fxLayoutGap="15px">
                <br>

                <mat-form-field appearance="outline">
                  <mat-label>Nombre de la entidad</mat-label>
                  <input matInput [placeholder]="currentIdea?.nameEntity" formControlName="nameEPI">
                  <mat-hint>Puede ser comité, asociación,cocode, Intitución u otro tipo de organización.</mat-hint>
                  <mat-error *ngIf="responsibleEntity.get('nameEPI')?.hasError('required')">
                    El nombre de la entidad es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Unidad Ejecutora</mat-label>
                  <input matInput placeholder="Unidad Ejecutora" formControlName="executionUnit">
                  <mat-error *ngIf="responsibleEntity.get('executionUnit')?.hasError('required')">
                    El nombre de la entidad es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput [placeholder]="currentIdea?.responsibleName" formControlName="leaderName">
                  <mat-hint>Nombre del responsable del proyecto o representante legal.</mat-hint>
                  <mat-error *ngIf="responsibleEntity.get('leaderName')?.hasError('required')">
                    El nombre del responsable es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Correo electrónico</mat-label>
                  <input type="email" matInput formControlName="email" [placeholder]="currentIdea?.email">
                  <mat-hint>Correo electrónico (institucional) o alterno.</mat-hint>
                  <mat-error
                    *ngIf="responsibleEntity.get('email')?.hasError('email') && !responsibleEntity.get('email')?.hasError('required')">
                    Por favor, introduzca una dirección de correo electrónico válida
                  </mat-error>
                  <mat-error *ngIf="responsibleEntity.get('email')?.hasError('required')">
                    El correo electrónico es <strong>requerido</strong>
                  </mat-error>
                  <mat-icon matSuffix>alternate_email</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Teléfono </mat-label>
                  <span matPrefix>+502 &nbsp;</span>
                  <input formControlName="phone" type="number" matInput [placeholder]="currentIdea?.phone"
                    onKeyPress="if(this.value.length==8) return false;">
                  <mat-icon matSuffix>contact_phone</mat-icon>
                  <mat-hint>Teléfono de contacto (Institucional)</mat-hint>
                  <mat-error *ngIf="responsibleEntity.get('phone')?.hasError('required')">
                    El teléfono de contacto es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

              </div>

              <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                <button matStepperPrevious mat-raised-button>
                  <mat-icon>chevron_left</mat-icon>Volver
                </button>
                <button matStepperNext mat-raised-button color="accent">
                  <mat-icon>navigate_next</mat-icon>Siguiente
                </button>
              </div>

            </ngx-simplebar>
          </form>
        </mat-step>

        <mat-step [stepControl]="populationDelimitation">
          <ng-template matStepLabel>Paso 3</ng-template>
          <form [formGroup]="populationDelimitation" autocomplete="off">

            <ngx-simplebar class="content-stepper">
              <div fxLayout="column" fxLayoutGap="15px">
                <br />
                <div fxLayout="column" fxLayoutAlign="space-around center">
                  <p class="mat-headline-6">Delimitación preliminar de los posibles beneficiarios</p>
                </div>


                <div fxLayout="column" fxLayoutGap="15px">
                  <br>

                  <mat-form-field fxFill appearance="outline">
                    <mat-label>Población de referencia</mat-label>
                    <!-- <input type="text" placeholder="Seleccione o ingrese un valor" matInput
                        formControlName="referencePopulation" [matAutocomplete]="auto"> -->
                    <mat-select formControlName="referencePopulation">
                      <mat-option *ngFor="let ref of references" [value]="ref.name">
                        {{ref.name}}
                      </mat-option>
                    </mat-select>
                    <mat-hint>Nacional / Departamental / Municipal / Comunal / Otra</mat-hint>
                    <mat-error *ngIf="populationDelimitation.get('referencePopulation')?.hasError('required')">
                      La población de referencia es <strong>requerida</strong>
                    </mat-error>
                  </mat-form-field>

                  <div fxLayout="row wrap" fxLayoutGap.gt-sm="10px">

                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Total de población de referencia: Hombres</mat-label>
                      <input matInput onKeyPress="if(this.value.length==15) return false;" formControlName="menQty"
                        type="number" placeholder="Ej. 125000">
                      <mat-error *ngIf="populationDelimitation.get('menQty')?.hasError('max')">
                        Máximo 15 números.
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Total de población de referencia: Mujeres</mat-label>
                      <input matInput onKeyPress="if(this.value.length==15) return false;" formControlName="womenQty"
                        type="number" placeholder="Ej. 125000">
                      <mat-error *ngIf="populationDelimitation.get('womenQty')?.hasError('max')">
                        Máximo 15 números.
                      </mat-error>
                    </mat-form-field>

                  </div>


                  <div fxLayout="row wrap" fxLayoutGap.gt-sm="10px">

                    <p class="mat-subtitle-2">Total de población de referencia General: {{totalGender}}</p>
                    <p class="mat-title" fxLayoutAlign="center center">

                    </p>

                  </div>

                  <mat-form-field fxFill appearance="outline">
                    <mat-label>Denominación</mat-label>
                    <!-- <input type="text" placeholder="Seleccione o ingrese un valor" matInput formControlName="denomination"
                        [matAutocomplete]="auto2"> -->
                    <mat-select formControlName="denomination">
                      <mat-option *ngFor="let denomination of denominations" [value]="denomination.name">
                        {{denomination.name}}
                      </mat-option>
                    </mat-select>
                    <mat-hint>Alumnos / Pacientes / Agricultores / Otra: Especifique</mat-hint>
                    <mat-error *ngIf="populationDelimitation.get('denomination')?.hasError('required')">
                      La denominación es <strong>requerida</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field fxFill appearance="outline">
                    <mat-label>Estimación preliminar beneficiarios</mat-label>
                    <input matInput onKeyPress="if(this.value.length==15) return false;"
                      formControlName="estimateBeneficiaries" (keyup)="calculaCobertura()" type="number"
                      placeholder="Ej. 125000">
                    <mat-hint>Representa la cantidad estimada de beneficiarios que tendrá el proyecto.</mat-hint>
                    <mat-error *ngIf="populationDelimitation.get('estimateBeneficiaries')?.hasError('max')">
                      Máximo 15 números.
                    </mat-error>
                  </mat-form-field>

                  <p class="mat-subtitle-2">COBERTURA: {{coverageText}}</p>
                  <p class="mat-title" fxLayoutAlign="center center">

                  </p>



                  <mat-form-field fxFill appearance="outline">
                    <mat-label>Caracterización preliminar</mat-label>
                    <textarea matInput formControlName="preliminaryCharacterization"
                      onKeyPress="if(this.value.length==500) return false;"
                      placeholder="Describir aspectos a nivel socioeconómicos del área de influencia del proyecto -Ejemplo: Pobreza, educación, salud, otros-"
                      rows="4"></textarea>
                    <mat-hint>Hasta {{500 - populationDelimitation?.value?.preliminaryCharacterization?.length}}
                      caracteres.
                    </mat-hint>
                    <mat-error *ngIf="populationDelimitation.get('preliminaryCharacterization')?.hasError('maxlength')">
                      Máximo 500 caracteres.
                    </mat-error>
                    <mat-error *ngIf="populationDelimitation.get('preliminaryCharacterization')?.hasError('required')">
                      El campo es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>


                </div>

                <br />
                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                  <button matStepperPrevious mat-raised-button>
                    <mat-icon>chevron_left</mat-icon>Volver
                  </button>
                  <button matStepperNext mat-raised-button (click)="saveAlternativeP1()" color="accent">
                    <mat-icon>navigate_next</mat-icon>Siguiente
                  </button>
                </div>
              </div>
            </ngx-simplebar>
          </form>

        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Paso 4</ng-template>
          <form [formGroup]="geographicArea" autocomplete="off">

            <ngx-simplebar class="content-stepper">
              <div fxLayout="column" fxLayoutGap="15px">
                <br />
                <div fxLayout="column" fxLayoutAlign="space-around center">
                  <p class="mat-headline-6">
                    Delimitación preliminar del área geográfica
                  </p>
                </div>
                <p class="mat-subtitle-2">
                  Posibles Alternativas de solución (Intervenciones, proyectos,
                  actividades)
                </p>
                <div fxLayout="column" fxLayoutGap="15px">
                  <br>

                  <mat-slide-toggle formControlName="oneAvailableTerrain">Se identifica solo un terreno disponible
                  </mat-slide-toggle>
                  <mat-slide-toggle formControlName="availableTerrain">Se identifican varios terrenos disponibles
                  </mat-slide-toggle>
                  <mat-slide-toggle formControlName="investPurchase">Es necesario invertir en la compra de un terreno
                  </mat-slide-toggle>

                  <mat-divider></mat-divider>


                  <table mat-table fxFill [dataSource]="dataSource">

                    <ng-container matColumnDef="statusDescribe">
                      <th mat-header-cell *matHeaderCellDef> Posible Inmueble </th>
                      <td mat-cell *matCellDef="let element"> {{element.statusDescribe}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let element; let i = index">

                        <button mat-icon-button (click)="removeDataGeo(i)">
                          <mat-icon>close</mat-icon>
                        </button>

                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <div fxFill fxLayout="row" fxLayoutAlign="startcenter">

                    <button mat-raised-button (click)="openDrawer3('60%', 'NEW_DATA_GEO')"
                      [disabled]="geographicArea.get('investPurchase')?.value" color="accent"> <mat-icon>add</mat-icon>
                      Agregar
                      posible inmueble</button>

                  </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                  <button matStepperPrevious mat-raised-button>
                    <mat-icon>chevron_left</mat-icon>Volver
                  </button>
                  <button matStepperNext mat-raised-button color="accent">
                    <mat-icon>navigate_next</mat-icon>Siguiente
                  </button>
                </div>
              </div>
            </ngx-simplebar>
          </form>

        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Paso 5</ng-template>
          <form [formGroup]="projectDescription" autocomplete="off">

            <ngx-simplebar class="content-stepper">
              <div fxLayout="column" fxLayoutGap="15px">
                <br />
                <div fxLayout="column" fxLayoutAlign="space-around center">
                  <p class="mat-headline-6">Descripción preliminar de la idea proyecto</p>
                </div>


                <div fxLayout="column" fxLayoutGap="15px">
                  <br>

                  <mat-form-field fxFill appearance="outline">
                    <mat-label>Tipo de Proyecto</mat-label>
                    <mat-select formControlName="projectType">

                      <mat-option value="null" disabled>
                        Seleccione un tipo de proyecto
                      </mat-option>
                      <mat-option value="Desarrollo económico">
                        Desarrollo económico
                      </mat-option>
                      <mat-option value="Desarrollo social">
                        Desarrollo social
                      </mat-option>
                      <mat-option value="Desarrollo ambiental y recursos naturales">
                        Desarrollo ambiental y recursos naturales
                      </mat-option>

                    </mat-select>
                    <mat-hint>Defina el proyecto por clasificación del grupo sectorial.</mat-hint>
                    <mat-error *ngIf="projectDescription.get('projectType')?.hasError('required')">
                      El tipo de proyecto es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-divider></mat-divider>
                  <br>
                  <br>
                  <p class="mat-subtitle-2">Proceso de Formulación</p>

                  <mat-slide-toggle formControlName="withFormulationProcess">Estime su avance</mat-slide-toggle>

                  <mat-form-field fxFill appearance="outline">
                    <mat-label>Estime su avance</mat-label>
                    <mat-select formControlName="formulationProcess">

                      <mat-option value="null">
                        Ningúno
                      </mat-option>
                      <mat-option value="Idea conceptual (Bocetos)">
                        Idea conceptual (Bocetos)
                      </mat-option>
                      <mat-option value="Anteproyecto previo (Arquitectura e ingeniería)">
                        Anteproyecto previo (Arquitectura e ingeniería)
                      </mat-option>
                      <mat-option value="Anteproyecto con presupuesto estimado">
                        Anteproyecto con presupuesto estimado
                      </mat-option>

                    </mat-select>
                    <mat-hint>Defina el proyecto por clasificación del grupo sectorial.</mat-hint>
                    <mat-error *ngIf="projectDescription.get('formulationProcess')?.hasError('required')">
                      El avance es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field fxFill appearance="outline">
                    <mat-label>Observación</mat-label>
                    <textarea matInput onKeyPress="if(this.value.length==200) return false;"
                      formControlName="formulationProcessDescription" placeholder="Máximo 200 caracteres..."
                      rows="4"></textarea>
                    <mat-hint>Hasta {{200 - projectDescription.get('formulationProcessDescription')?.value?.length}}
                      caracteres.
                    </mat-hint>
                    <mat-error *ngIf="projectDescription.get('formulationProcessDescription')?.hasError('maxlength')">
                      Máximo 200 caracteres.
                    </mat-error>
                  </mat-form-field>

                  <mat-divider></mat-divider>
                  <br>
                  <mat-form-field fxFill appearance="outline">
                    <mat-label>Breve descripción de las posibles intervenciones o acciones a desarrollar</mat-label>
                    <textarea matInput formControlName="descriptionInterventions"
                      onKeyPress="if(this.value.length==250) return false;"
                      placeholder="Describir de manera general lo que se pretende con el proyecto de manera cualitativa; puede ser infraestructura, mobiliario u otros para el buen funcionamiento de este."
                      rows="4"></textarea>
                    <mat-hint>Hasta {{250 - projectDescription.get('descriptionInterventions')?.value?.length}}
                      caracteres.
                    </mat-hint>
                    <mat-error *ngIf="projectDescription.get('descriptionInterventions')?.hasError('maxlength')">
                      Máximo 200 caracteres.
                    </mat-error>
                    <mat-error *ngIf="projectDescription.get('descriptionInterventions')?.hasError('required')">
                      El campo es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field fxFill appearance="outline">
                    <mat-label>Complejidad</mat-label>
                    <mat-select formControlName="complexity">

                      <mat-option value="Alta">
                        Alta
                      </mat-option>
                      <mat-option value="Media">
                        Media
                      </mat-option>
                      <mat-option value="Baja">
                        Baja
                      </mat-option>

                    </mat-select>
                    <br>
                    <mat-hint>Seleccionar la opción que a su criterio se adapte mejor en base al producto que desea
                      ejecutar.
                      Tome en cuenta la complejidad de la problemática, tamaño, tecnología, ingeniería, financiamiento y
                      aspectos particulares de la propuesta de su proyecto.</mat-hint>
                    <mat-error *ngIf="projectDescription.get('complexity')?.hasError('required')">
                      La complejidad es <strong>requerida</strong>
                    </mat-error>
                  </mat-form-field>
                  <br>
                  <br>
                  <mat-divider></mat-divider>
                  <br>
                  <div fxLayout="row wrap" fxLayoutGap.gt-sm="6px">
                    <mat-form-field fxFlex appearance="outline" floatLabel="always">
                      <mat-label>Costo estimado de la Preinversión </mat-label>
                      <span matPrefix class="marginYear">Q. &nbsp;</span>
                      <input formControlName="estimatedCost" type="number" matInput placeholder="Ej. 25000">

                      <mat-hint>Se refiere al costo estimado de los estudios en la Etapa de Preinversión que serán
                        necesarios
                        realizar para fortalecer la toma de decisión del proyecto.</mat-hint>
                      <mat-error *ngIf="projectDescription.get('estimatedCost')?.hasError('required')">
                        El Costo estimado de la Preinversión es <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline" floatLabel="always">
                      <mat-label>Costo estimado de la inversión</mat-label>
                      <span matPrefix class="marginYear">Q. &nbsp;</span>
                      <input formControlName="investmentCost" type="number" matInput placeholder="Ej. 25000">
                      <mat-error *ngIf="projectDescription.get('estimatedCost')?.hasError('required')">
                        El Costo estimado de la inversión es <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>

                  </div>
                  <br>
                  <br> <br>
                  <mat-divider></mat-divider>
                  <br>
                  <mat-form-field fxFill appearance="outline">
                    <mat-label>Posibles fuentes de financiamiento</mat-label>
                    <mat-select formControlName="foundingSourcesName">

                      <mat-option value="Ingresos corrientes">
                        Ingresos corrientes
                      </mat-option>
                      <mat-option value="Ingresos tributarios IVA paz">
                        Ingresos tributarios IVA paz
                      </mat-option>
                      <mat-option value="Ingresos ordinarios de aporte constitucional">
                        Ingresos ordinarios de aporte constitucional
                      </mat-option>
                      <mat-option value="Ingresos propios">
                        Ingresos propios
                      </mat-option>
                      <mat-option value="Crédito externo – Prestamos externos">
                        Crédito externo – Prestamos externos
                      </mat-option>
                      <mat-option value="Donaciones externas">
                        Donaciones externas
                      </mat-option>
                      <mat-option value="Otro">
                        Otro
                      </mat-option>

                    </mat-select>
                    <mat-error *ngIf="projectDescription.get('foundingSourcesName')?.hasError('required')">
                      Las Posibles fuentes de financiamiento son <strong>requeridas</strong>
                    </mat-error>
                  </mat-form-field>


                </div>

                <br />
                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                  <button matStepperPrevious mat-raised-button>
                    <mat-icon>chevron_left</mat-icon>Volver
                  </button>
                  <button matStepperNext mat-raised-button color="accent">
                    <mat-icon>navigate_next</mat-icon>Siguiente
                  </button>
                </div>
              </div>
            </ngx-simplebar>
          </form>

        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Paso 6</ng-template>
          <form [formGroup]="executionTime" autocomplete="off">

            <ngx-simplebar class="content-stepper">
              <div fxLayout="column" fxLayoutGap="15px">
                <br />
                <div fxLayout="column" fxLayoutAlign="space-around center">
                  <p class="mat-headline-6">Plazo tentativo de ejecución</p>
                </div>


                <div fxLayout="column" fxLayoutGap="15px">

                  <br>
                  <p class="mat-subtitle-2">Plazo tentativo de la Preinversión</p>

                  <div fxLayout="row wrap" fxLayoutGap.gt-sm="10px">

                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Mes</mat-label>
                      <mat-select formControlName="tentativeTermMonth">

                        <mat-option value="Enero">
                          Enero
                        </mat-option>
                        <mat-option value="Febrero">
                          Febrero
                        </mat-option>
                        <mat-option value="Marzo">
                          Marzo
                        </mat-option>
                        <mat-option value="Abril">
                          Abril
                        </mat-option>
                        <mat-option value="Mayo">
                          Mayo
                        </mat-option>
                        <mat-option value="Junio">
                          Junio
                        </mat-option>
                        <mat-option value="Julio">
                          Julio
                        </mat-option>
                        <mat-option value="Agosto">
                          Agosto
                        </mat-option>
                        <mat-option value="Septiembre">
                          Septiembre
                        </mat-option>
                        <mat-option value="Octubre">
                          Octubre
                        </mat-option>
                        <mat-option value="Noviembre">
                          Noviembre
                        </mat-option>
                        <mat-option value="Diciembre">
                          Diciembre
                        </mat-option>

                      </mat-select>
                      <mat-error *ngIf="executionTime.get('tentativeTermMonth')?.hasError('required')">
                        El campo es <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Año</mat-label>
                      <span matPrefix class="marginYear">20 &nbsp;</span>
                      <input formControlName="tentativeTermYear" type="number" matInput placeholder="Ej. 22"
                        onKeyPress="if(this.value.length==2) return false;">
                      <mat-error *ngIf="executionTime.get('tentativeTermYear')?.hasError('required')">
                        El campo es <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>

                  </div>

                  <p class="mat-subtitle-2">Fecha probable de inicio de ejecución</p>

                  <div fxLayout="row wrap" fxLayoutGap.gt-sm="10px">

                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Mes</mat-label>
                      <mat-select formControlName="executionDateMonth">

                        <mat-option value="Enero">
                          Enero
                        </mat-option>
                        <mat-option value="Febrero">
                          Febrero
                        </mat-option>
                        <mat-option value="Marzo">
                          Marzo
                        </mat-option>
                        <mat-option value="Abril">
                          Abril
                        </mat-option>
                        <mat-option value="Mayo">
                          Mayo
                        </mat-option>
                        <mat-option value="Junio">
                          Junio
                        </mat-option>
                        <mat-option value="Julio">
                          Julio
                        </mat-option>
                        <mat-option value="Agosto">
                          Agosto
                        </mat-option>
                        <mat-option value="Septiembre">
                          Septiembre
                        </mat-option>
                        <mat-option value="Octubre">
                          Octubre
                        </mat-option>
                        <mat-option value="Noviembre">
                          Noviembre
                        </mat-option>
                        <mat-option value="Diciembre">
                          Diciembre
                        </mat-option>

                      </mat-select>
                      <mat-error *ngIf="executionTime.get('executionDateMonth')?.hasError('required')">
                        El campo es <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Año</mat-label>
                      <span matPrefix class="marginYear">20 &nbsp;</span>
                      <input formControlName="executionDateYear" type="number" matInput placeholder="Ej. 22"
                        onKeyPress="if(this.value.length==2) return false;">
                      <mat-error *ngIf="executionTime.get('executionDateYear')?.hasError('required')">
                        El campo es <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>

                  </div>

                  <p class="mat-subtitle-2">Fecha probable de finalización de la ejecución</p>

                  <div fxLayout="row wrap" fxLayoutGap.gt-sm="10px">

                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Mes</mat-label>
                      <mat-select formControlName="finishDateMonth">

                        <mat-option value="Enero">
                          Enero
                        </mat-option>
                        <mat-option value="Febrero">
                          Febrero
                        </mat-option>
                        <mat-option value="Marzo">
                          Marzo
                        </mat-option>
                        <mat-option value="Abril">
                          Abril
                        </mat-option>
                        <mat-option value="Mayo">
                          Mayo
                        </mat-option>
                        <mat-option value="Junio">
                          Junio
                        </mat-option>
                        <mat-option value="Julio">
                          Julio
                        </mat-option>
                        <mat-option value="Agosto">
                          Agosto
                        </mat-option>
                        <mat-option value="Septiembre">
                          Septiembre
                        </mat-option>
                        <mat-option value="Octubre">
                          Octubre
                        </mat-option>
                        <mat-option value="Noviembre">
                          Noviembre
                        </mat-option>
                        <mat-option value="Diciembre">
                          Diciembre
                        </mat-option>

                      </mat-select>
                      <mat-error *ngIf="executionTime.get('finishDateMonth')?.hasError('required')">
                        El campo es <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                      <mat-label>Año</mat-label>
                      <span matPrefix class="marginYear">20 &nbsp;</span>
                      <input formControlName="finishDateYear" type="number" matInput placeholder="Ej. 22"
                        onKeyPress="if(this.value.length==2) return false;">
                      <mat-error *ngIf="executionTime.get('finishDateYear')?.hasError('required')">
                        El campo es <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>

                  </div>

                  <mat-form-field fxFill appearance="outline">
                    <mat-select formControlName="annual">

                      <mat-option [value]="true">
                        Anual
                      </mat-option>
                      <mat-option [value]="false">
                        Multianual
                      </mat-option>

                    </mat-select>
                    <mat-error *ngIf="executionTime.get('annual')?.hasError('required')">
                      El campo es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>

                </div>

                <br />
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <button matStepperPrevious mat-raised-button>
                    <mat-icon>chevron_left</mat-icon>Volver
                  </button>
                  <button mat-raised-button (click)="stepper.reset()">
                    <mat-icon>manage_history</mat-icon>Restablecer
                  </button>
                  <span fxFlex></span>
                  <button mat-raised-button (click)="saveIdeaAlternative()" color="primary" type="button">
                    <mat-icon fontIcon="save"></mat-icon>
                    Guardar
                  </button>
                </div>
              </div>
            </ngx-simplebar>
          </form>

        </mat-step>
      </mat-stepper>
    </div>
  </div>
</ngx-simplebar>
