.my-container {
  height: 100%;
  padding-top: 64px;
  margin: 10px;
}

.menu-button {
  border-radius: 16px;
}
.title{
  margin: 16px;
}
.img {
  padding: 5px;
  margin: 20px;
  width: 180px;

  }.example-card {
   height: 300px;
    padding-bottom: 8px;
  }
