<ngx-simplebar ngClass.gt-sm="content-index" ngClass.lt-md="content-index">

  <header fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center" class="active-elevation">

    <mat-icon fontIcon="dashboard"></mat-icon>
    <p class="mat-headline-6"> Bienvenid@ al Seguimiento de la preinversión </p>

  </header>


  <header fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center" class="active-elevation">
    <mat-icon fontIcon="account_tree"></mat-icon>
    <p class="mat-headline-6"> Proyectos </p>

    <span fxFlex></span>

    <mat-form-field appearance="outline" floatLabel="always" class="small-input no-hint">
      <mat-label> Tipo de Seguimiento </mat-label>
      <mat-select [formControl]="typeFollow" (selectionChange)="selecTypeFollow()">
        <mat-option value="true">Sectorial</mat-option>
        <mat-option value="false">Territorial</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="small-input no-hint">
      <mat-label> Departamento </mat-label>
      <mat-select [formControl]="departamentoFilter" (selectionChange)="selecDepartament()">
        <mat-option *ngFor="let depto of departamentos" [value]="depto.NOMBRE">
          {{depto.NOMBRE}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="small-input no-hint">
      <mat-label> Municipio </mat-label>
      <mat-select [formControl]="municipioFilter">
        <mat-option *ngFor="let mncpio of municipios" [value]="mncpio.NOMBRE">
          {{mncpio.NOMBRE}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="isMinistryState" appearance="outline" floatLabel="always" class="small-input no-hint">
      <mat-label> Entidad </mat-label>
      <mat-select [formControl]="entidadFilter">
        <mat-option *ngFor="let entity of entities" [value]="entity.name">
          {{entity.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="small-input no-hint">
      <mat-label> Mes </mat-label>
      <mat-select [formControl]="monthFilter">
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{month.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <span fxFlex></span>

    <button mat-mini-fab (click)="searchProjects()" color="accent" class="menu-button-add">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab (click)="clearControls()" color="accent" class="menu-button-add">
      <mat-icon>delete</mat-icon>
    </button>
  </header>

</ngx-simplebar>

<div class="container-charts">
  <section class="card-d1">
    <p *ngIf="filtros.isMinistry" class="mat-headline-4">Proyectos por Unidad Ejecutora</p>
    <p *ngIf="!filtros.isMinistry"  class="mat-headline-4">Proyectos por Departamento</p>
    <app-advance-pie [single]="single"></app-advance-pie>
  </section>


  <section class="card-d1">
    <p *ngIf="filtros.isMinistry"  class="mat-headline-4">Avance Promedio por Unidad Ejecutora</p>
    <p *ngIf="!filtros.isMinistry" class="mat-headline-4">Avance Promedio por Departamento</p>
    <app-vertical-bar [single]="single2"></app-vertical-bar>
  </section>
</div>

<div class="container-charts">
  <section class="card-d1">
    <p class="mat-headline-4">Cantidad de proyectos por Sector</p>
    <app-horizontal-bar [single]="sectorCount" title="Cantidad" ></app-horizontal-bar>
  </section>
  <section class="card-d1">
    <p class="mat-headline-4">Promedio de Avance por Sector</p>
    <app-horizontal-bar [single]="advanceSector" title="Avance"></app-horizontal-bar>
  </section>
</div>