<ngx-simplebar ngClass.gt-sm="content-desktop" ngClass.lt-md="content-desktop">

  <mat-toolbar fxLayoutGap="8px" class="active-elevation">
    <button
      mat-icon-button
      (click)="closeDrawer1()"
      matTooltip="Cancelar"
      type="button"
    >
      <mat-icon>close</mat-icon>
    </button>

    <span>Nuevo tipo de proyecto</span>
    <!-- <span *ngIf="!warehouse">{{ 'newBranch' | translate }}</span> -->
    <span fxFlex></span>

    <button mat-icon-button  color="warn"  type="button">
      <mat-icon>delete_outline</mat-icon>
    </button>

    <button mat-flat-button color="primary" type="submit">
      <mat-icon fontIcon="save"></mat-icon>Guardar
    </button>
    <!-- <button mat-icon-button *ngIf="warehouse" (click)="deleteWarehouse()" color="warn" [matTooltip]="'delete' | translate" type="button">
        <mat-icon>delete_outline</mat-icon>
      </button> -->
  </mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="center center" class="form">

    <mat-card fxFlex="90" (click)="editCard1 = true" (clickOutside)="outCard1()" [ngClass]="elevationCard1"
      (mouseover)="card1Style($event)" (mouseout)="card1Style($event)" class="radius">

      <mat-card-content fxLayout="column" fxLayoutGap="12px">

        <mat-form-field fxFill appearance="outline">
          <mat-label>nombre del tipo de proyecto</mat-label>
          <input matInput formControlName="name" type="text">
          <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
          <!-- <mat-error *ngIf="newWarehouse.get('name')?.hasError('required')">
            {{ 'requiredField' | translate }}
          </mat-error> -->
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions>

        <!-- <button mat-button (click)="resetNewWarehouse()" type="button" class="radius">{{ 'clearForm' | translate -->
          <!-- }}</button> -->

      </mat-card-actions>

    </mat-card>

  </div>

</ngx-simplebar>
