
<ngx-simplebar ngClass.gt-sm="content-desktop" ngClass.lt-md="content-desktop">
  <mat-toolbar fxLayoutGap="8px" class="active-elevation">
    <button mat-icon-button (click)="closeDrawer1()" matTooltip="Cancelar" type="button">
      <mat-icon>close</mat-icon>
    </button>
    <span>Nueva iniciativa</span>
  </mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="center center" class="form">
    <div fxFlex="90">
      <mat-stepper #stepper fxFill linear="true">

        <mat-step [stepControl]="institution">
          <ng-template matStepLabel>Paso 1</ng-template>

          <form [formGroup]="institution" autocomplete="off">
            <ngx-simplebar class="content-stepper">
              <div fxLayout="column" fxLayoutGap="15px">
                <br>
                <div fxLayout="column" fxLayoutAlign="space-around center">
                  <p class="mat-headline-6">Aspectos generales</p>
                </div>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Nombre de la entidad (Presidencia y Ministerios de Estado, Secretarias u otras dependencias)</mat-label>
                  <input matInput formControlName="entityName" type="text">
                  <mat-error *ngIf="institution.get('entityName')?.hasError('required')">
                    El nombre de la entidad es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Unidad ejecutora</mat-label>
                  <input matInput formControlName="executionUnit" type="text">
                  <mat-error *ngIf="institution.get('executionUnit')?.hasError('required')">
                    El nombre del responsable es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Función de proyectos</mat-label>
                  <mat-select formControlName="functionProjName">
                    <mat-option *ngFor="let projectFunction of projectFunctions" [value]="projectFunction.name">
                      {{projectFunction.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="institution.get('functionProjName')?.hasError('required')">
                    La función de proyectos es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Sector al que responde el estudio:
                  </mat-label>
                  <mat-select formControlName="generalStudy">
                    <mat-option *ngFor="let generalStudy of generalStudies" [value]="generalStudy.name">
                      {{generalStudy.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="institution.get('generalStudy')?.hasError('required')">
                    El estudio general es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Documento de preinversión que requiere financiar</mat-label>
                  <mat-select formControlName="dcmntPreinvest" multiple>
                    <mat-option *ngFor="let preinvDocument of preinvDocuments" [value]="preinvDocument.name">
                      {{preinvDocument.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="institution.get('dcmntPreinvest')?.hasError('required')">
                    El Documento de preinversión es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Agregar documento (perfil, documento previo, diagnostico, y/o otro)</mat-label>
                  <ngx-mat-file-input #removableInput formControlName="documentProject" [accept]="'.pdf'"
                    placeholder="Seleccione un documento">
                  </ngx-mat-file-input>
                  <mat-hint>(cuando este a nivel de perfil o prefactibilidad )</mat-hint>
                  <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
                    <mat-icon>clear</mat-icon>
                  </button>
                  <mat-error *ngIf="institution.get('documentProject')?.hasError('required')">
                    El documento es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <p *ngIf="initiative && initiative.institution.documentProject">
                  <b>Documento del proyecto actual:</b>
                  <a mat-button color="warn" mat-line [href]="initiative.institution.documentProject" target="_blank">Abrir
                    <mat-icon>launch</mat-icon></a>
                </p>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Nombre del responsable institucional</mat-label>
                  <input matInput formControlName="responsibleName" type="text">
                  <mat-error *ngIf="institution.get('responsibleName')?.hasError('required')">
                    El nombre del responsable es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Correo de contacto</mat-label>
                  <input type="email" formControlName="contactEmail" matInput>
                  <mat-error
                    *ngIf="institution.get('contactEmail')?.hasError('email') && !institution.get('contactEmail')?.hasError('required')">
                    Por favor, introduzca una dirección de correo electrónico válida
                  </mat-error>
                  <mat-error *ngIf="institution.get('contactEmail')?.hasError('required')">
                    El correo electrónico es <strong>requerido</strong>
                  </mat-error>
                  <mat-icon matSuffix>alternate_email</mat-icon>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>No. telefónico </mat-label>
                  <span matPrefix>+502 &nbsp;</span>
                  <input type="number" formControlName="phoneNumber" matInput
                    onKeyPress="if(this.value.length==8) return false;">
                  <mat-icon matSuffix>contact_phone</mat-icon>
                  <mat-error *ngIf="institution.get('phoneNumber')?.hasError('required')">
                    El teléfono de contacto es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="end center">
                  <button matStepperNext mat-raised-button color="accent">
                    Siguiente
                    <mat-icon>navigate_next</mat-icon>
                  </button>
                </div>

              </div>
            </ngx-simplebar>
          </form>
        </mat-step>

        <mat-step [stepControl]="investmentProject">
          <ng-template matStepLabel>Paso 2</ng-template>

          <form [formGroup]="investmentProject" autocomplete="off">
            <ngx-simplebar class="content-stepper">
              <div fxLayout="column" fxLayoutGap="15px">
                <br>
                <div fxLayout="column" fxLayoutAlign="space-around center">
                  <p class="mat-headline-6">Descripción del proyecto de inversión</p>
                </div>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Problema central (deberia estar vinculado a la problematica establecida en el PEI)</mat-label>
                  <input matInput formControlName="coreProblem" type="text">
                  <mat-error *ngIf="investmentProject.get('coreProblem')?.hasError('required')">
                    El Problema Central es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <p class="mat-subheading-2">{{ selectedProduct() }}</p>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Selección del producto</mat-label>
                  <mat-select formControlName="_product" name="Producto">
                    <mat-option *ngFor="let product of products" [value]="product">
                      {{product.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Selección del producto al cual corresponde la idea</mat-hint>
                  <mat-error *ngIf="investmentProject.get('_product')?.hasError('required')">
                    El producto es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Nombre del proyecto</mat-label>
                  <input matInput formControlName="nameProject" type="text">
                  <mat-error *ngIf="investmentProject.get('nameProject')?.hasError('required')">
                    El nombre del proyecto es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Objetivo del proyecto</mat-label>
                  <input matInput formControlName="objetiveProject" type="text">
                  <mat-error *ngIf="investmentProject.get('objetiveProject')?.hasError('required')">
                    El objetivo del proyecto es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <p>Descripción y justificación del proyecto su relación con la Política General de Gobierno, Plan Nacional
                  de Desarrollo, importancia del proyecto, razones fundamentales o beneficios que justifican su realización:
                </p>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Descripción y justificación del proyecto</mat-label>
                  <input matInput formControlName="descAdnJust" type="text">
                  <mat-error *ngIf="investmentProject.get('descAdnJust')?.hasError('required')">
                    La Descripción y justificación son <strong>requeridas</strong>
                  </mat-error>
                </mat-form-field>

                <p>Información sobre los estudios previos realizados (De considerarse necesario se solicitará la documentación)</p>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Información sobre los estudios previos realizados</mat-label>
                  <input matInput formControlName="infoStudies" type="text">
                  <mat-error *ngIf="investmentProject.get('infoStudies')?.hasError('required')">
                    Los estudios previos son <strong>requeridos</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Costo estimado del proyecto, fuentes de recursos previstas</mat-label>
                  <input matInput formControlName="estimatedProject" type="number">
                  <mat-error *ngIf="investmentProject.get('estimatedProject')?.hasError('required')">
                    El costo estimado del proyeecto es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                  <button mat-raised-button color="accent" matStepperPrevious  >
                    Volver
                    <mat-icon>chevron_left</mat-icon>
                  </button>
                  <button mat-raised-button color="accent" matStepperNext  >
                    Siguiente
                    <mat-icon>navigate_next</mat-icon>
                  </button>
                </div>

              </div>
            </ngx-simplebar>
          </form>
        </mat-step>

        <mat-step [stepControl]="studyDescription">
          <ng-template matStepLabel> Paso 3 </ng-template>

          <form [formGroup]="studyDescription" autocomplete="off">
            <ngx-simplebar class="content-stepper">
              <div fxLayout="column" fxLayoutGap="15px">
                <br>
                <div fxLayout="column" fxLayoutAlign="space-around center">
                  <p class="mat-headline-6">Descripción de los estudios</p>
                </div>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Nombre del estudio requerido</mat-label>
                  <input matInput formControlName="nameStudy" type="text">
                  <mat-error *ngIf="studyDescription.get('nameStudy')?.hasError('required')">
                    El nombre del estudio es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Objetivo General y especificos establecidos en TDR</mat-label>
                  <input matInput formControlName="objetiveGeneral" type="text">
                  <mat-error *ngIf="studyDescription.get('objetiveGeneral')?.hasError('required')">
                    Los objetivos son <strong>requeridos</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Costo estimado del estudio e indicación del monto del financiamiento solicitado</mat-label>
                  <input matInput formControlName="costEstimted" type="number">
                  <mat-error *ngIf="studyDescription.get('costEstimted')?.hasError('required')">
                    El costo estimado es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Modalidad de financiamiento solicitada</mat-label>
                  <mat-select formControlName="modalityFinancing">
                    <mat-option *ngFor="let modalityFinancing of modalityFinancings" [value]="modalityFinancing.name">
                      {{modalityFinancing.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="studyDescription.get('modalityFinancing')?.hasError('required')">
                    La modalidad de financiamiento es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                  <button mat-raised-button color="accent" matStepperPrevious  >
                    Volver
                    <mat-icon>chevron_left</mat-icon>
                  </button>
                  <button mat-raised-button color="accent" matStepperNext  >
                    Siguiente
                    <mat-icon>navigate_next</mat-icon>
                  </button>
                </div>

              </div>
            </ngx-simplebar>
          </form>
        </mat-step>

        <mat-step [stepControl]="requiredDocument">
          <ng-template matStepLabel>Paso 4</ng-template>

          <form [formGroup]="requiredDocument" autocomplete="off">
            <ngx-simplebar class="content-stepper">
              <div fxLayout="column" fxLayoutGap="15px">
                <br>
                <div fxLayout="column" fxLayoutAlign="space-around center">
                  <p class="mat-headline-6">Documentos requeridos</p>
                  <p class=" mat-subheading-2">Terminos de referencia del estudio, cronograma de actividades y presupuesto estimado</p>
                </div>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>TDR</mat-label>
                  <ngx-mat-file-input #removableInput1 formControlName="tdr" placeholder="Seleccione un documento"
                    [accept]="'.pdf'">
                  </ngx-mat-file-input>
                  <button mat-icon-button matSuffix *ngIf="!removableInput1.empty" (click)="removableInput1.clear($event)">
                    <mat-icon>clear</mat-icon>
                  </button>
                  <mat-error *ngIf="requiredDocument.get('tdr')?.hasError('required')">
                    El documento es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>

                <p *ngIf="initiative && initiative.requirementsDocuments.tdr">
                  <b>TDR actual:</b>
                  <a mat-raised-button color="warn" mat-line [href]="initiative.requirementsDocuments.tdr" target="_blank">Abrir
                    <mat-icon>launch</mat-icon></a>
                </p>

                <p class=" mat-subheading-2">Presupuesto estimado:</p>
                <br>
                <div fxFill fxLayout="row" fxLayoutAlign="start center">
                  <button mat-stroked-button color="primary" (click)="openDrawer2('40%', 'NEW_ACTIVITY', null)">
                    Agregar actividad
                  </button>
                </div>

                <table mat-table fxFill [dataSource]="dataSource">

                  <ng-container matColumnDef="dateStart">
                    <th mat-header-cell *matHeaderCellDef> Inicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateStart | date: 'dd/MM/yyyy'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="dateEnd">
                    <th mat-header-cell *matHeaderCellDef> Finalización </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateEnd | date: 'dd/MM/yyyy'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="activity">
                    <th mat-header-cell *matHeaderCellDef> Actividad </th>
                    <td mat-cell *matCellDef="let element"> {{element.activity}} </td>
                  </ng-container>

                  <ng-container matColumnDef="unitMeasure">
                    <th mat-header-cell *matHeaderCellDef> Unidad de medida </th>
                    <td mat-cell *matCellDef="let element"> {{element.unitMeasure}} </td>
                  </ng-container>

                  <ng-container matColumnDef="cant">
                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let element"> {{element.cant}} </td>
                  </ng-container>

                  <ng-container matColumnDef="priceU">
                    <th mat-header-cell *matHeaderCellDef> Precio U. </th>
                    <td mat-cell *matCellDef="let element">Q{{element.priceU | number: '.2'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="subTotal">
                    <th mat-header-cell *matHeaderCellDef> Subtotal </th>
                    <td mat-cell *matCellDef="let element">Q{{element.subTotal | number: '.2'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element; let i = index">

                      <button mat-icon-button (click)="removeActivity(element)">
                        <mat-icon>close</mat-icon>
                      </button>

                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-label class="mat-headline-6" fxLayoutAlign="center center">
                  Total estimado:&nbsp; Q.{{ total | number: '.2' }}
                </mat-label>

                <br>
                <div fxLayoutAlign="center center">
                  <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                </div>

                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                  <button mat-raised-button color="accent" matStepperPrevious  >
                    Volver
                    <mat-icon>chevron_left</mat-icon>
                  </button>
                  <button mat-raised-button color="accent" matStepperNext>
                    Siguiente
                    <mat-icon>navigate_next</mat-icon>
                  </button>
                </div>

              </div>
            </ngx-simplebar>
          </form>
        </mat-step>

        <mat-step [stepControl]="delimit">
          <ng-template matStepLabel>Paso 5</ng-template>

          <form [formGroup]="delimit" autocomplete="off">
            <ngx-simplebar class="content-stepper">
              <div fxLayout="column" fxLayoutGap="15px">
                <br>
                <div fxLayout="column" fxLayoutAlign="space-around center">
                  <p class="mat-headline-6"> Delimitación preliminar de los posibles beneficiarios</p>
                  <p class="mat-subheading-2">Población por beneficiarse directamente<br></p>
                </div>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Departamento</mat-label>
                  <mat-select formControlName="departament" (selectionChange)="selecDepartament()">
                    <mat-option *ngFor="let depto of departamentos" [value]="depto.NOMBRE">
                      {{depto.NOMBRE}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Municipio</mat-label>
                  <mat-select formControlName="municipality">
                    <mat-option *ngFor="let mncpio of municipios" [value]="mncpio.NOMBRE">
                      {{mncpio.NOMBRE}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Población de referencia</mat-label>
                  <input matInput formControlName="nameRefPop" type="number" placeholder="Ej. 125000"
                    onKeyPress="if(this.value.length==15) return false;">
                  <mat-hint>Representa la cantidad estimada de beneficiarios que tendrá el proyecto</mat-hint>
                  <mat-error *ngIf="delimit.get('nameRefPop')?.hasError('max')">
                    La población de referencia es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFill appearance="outline">
                  <mat-label>Denominación</mat-label>
                  <input type="text" placeholder="Seleccione o ingrese un valor" matInput formControlName="denomination"
                    [matAutocomplete]="auto2">
                    <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                      <mat-option *ngFor="let denomination of denominations" [value]="denomination.name">
                        {{denomination.name}}
                      </mat-option>
                  </mat-autocomplete>
                  <mat-hint>Alumnos / Pacientes / Agricultores / Otra: Especifique</mat-hint>
                  <mat-error *ngIf="delimit.get('denomination')?.hasError('required')">
                    La denominación es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>

                <div fxFlex fxLayout="row wrap" fxLayoutGap.gt-sm="10px">
                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Total de población de referencia: Hombres</mat-label>
                    <input matInput onKeyPress="if(this.value.length==15) return false;" formControlName="menBenef"
                      type="number" placeholder="Ej. 125000">
                    <mat-error *ngIf="delimit.get('menBenef')?.hasError('max')">
                      Máximo 15 números.
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Total de población de referencia: Mujeres</mat-label>
                    <input matInput onKeyPress="if(this.value.length==15) return false;" formControlName="womenBenef"
                      type="number" placeholder="Ej. 125000">
                    <mat-error *ngIf="delimit.get('womenBenef')?.hasError('max')">
                      Máximo 15 números.
                    </mat-error>
                  </mat-form-field>
                </div>

                <p class="mat-subheading-2"> <b>Estimación de beneficiarios directos:</b> {{totalGender | number}}</p>

                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                  <button mat-raised-button color="accent" matStepperPrevious>
                    Volver
                    <mat-icon>chevron_left</mat-icon>
                  </button>
                  <button mat-raised-button color="accent" (click)="stepper.reset()">
                    Restablecer
                    <mat-icon>settings_backup_restore</mat-icon>
                  </button>
                  <button mat-raised-button color="accent" (click)="saveInitiative()">
                    Finalizar
                    <mat-icon>task_alt</mat-icon>
                  </button>
                </div>

              </div>
            </ngx-simplebar>
          </form>
        </mat-step>

      </mat-stepper>
    </div>
  </div>
</ngx-simplebar>





