<!-- drawer 1 -->
<mat-drawer-container class="body" (backdropClick)="closeDrawer1()">

  <mat-drawer #drawer1 position="end" [style.width]="widthDrawer1" (keydown.escape)="closeDrawer1()" disableClose>

    <!-- drawer 2 -->
    <mat-drawer-container (backdropClick)="closeDrawer2()">

      <mat-drawer #drawer2 position="end" [style.width]="widthDrawer2" (keydown.escape)="closeDrawer2()" disableClose>

        <!-- drawer 3 -->
        <mat-drawer-container (backdropClick)="closeDrawer3()">

          <mat-drawer #drawer3 position="end" [style.width]="widthDrawer3" (keydown.escape)="closeDrawer3()"
            disableClose>

            <app-new-data-geo *ngIf="component3 === 'NEW_DATA_GEO'"></app-new-data-geo>

          </mat-drawer>

          <mat-drawer-content>

            <app-new-alternative *ngIf="component2 === 'NEW_ALTERNATIVE'"></app-new-alternative>
            <app-alternative-details *ngIf="component2 === 'SELECTED_ALTERNATIVE'"></app-alternative-details>
            <app-new-revelance-matrix *ngIf="component2 === 'NEW_RELEVANCE_MATRIX'"></app-new-revelance-matrix>
            <app-new-activity *ngIf="component2 === 'NEW_ACTIVITY'"></app-new-activity>
            <app-new-initiative *ngIf="component2 === 'NEW_INITIATIVE'"></app-new-initiative>
            <app-track-details *ngIf="component2 === 'TRACK_DETAILS'"></app-track-details>
            <app-track-epi *ngIf="component2 === 'TRACK_EPI'"></app-track-epi>
            <app-track-document *ngIf="component2 === 'TRACK_DOCUMENT'"></app-track-document>
            <app-track-visit *ngIf="component2 === 'TRACK_VISIT'"></app-track-visit>

          </mat-drawer-content>

        </mat-drawer-container>
        <!-- ----- drawer 3 ----- -->
      </mat-drawer>

      <mat-drawer-content>

        <app-new-idea *ngIf="component1 === 'NEW_IDEA'"></app-new-idea>
        <app-idea-details *ngIf="component1 === 'IDEA_DETAILS'"></app-idea-details>
        <app-new-designation *ngIf="component1 === 'NEW_DESIGNATION'"></app-new-designation>
        <app-new-financing *ngIf="component1 === 'NEW_FINANCING'"></app-new-financing>
        <app-new-population *ngIf="component1 === 'NEW_POPULATION'"></app-new-population>
        <app-alternative-details *ngIf="component1 === 'SELECTED_ALTERNATIVE'"></app-alternative-details>
        <app-new-initiative *ngIf="component1 === 'NEW_INITIATIVE'"></app-new-initiative>
        <app-initiative-details *ngIf="component1 === 'INITIATIVE_DETAILS'"></app-initiative-details>
        <app-admition-matrix *ngIf="component1 === 'ADMITION_MATRIX'"></app-admition-matrix>

      </mat-drawer-content>

    </mat-drawer-container>
    <!-- ----- drawer 2 ----- -->

  </mat-drawer>

  <mat-drawer-content>

    <div class="content-desktop">

      <mat-toolbar class="active-elevation" color="primary" fxLayoutGap="8px">

        <button mat-icon-button (click)="changeMenu()" color="accent" matTooltip="Menú">
          <mat-icon>menu</mat-icon>
        </button>

        <nav mat-tab-nav-bar backgroundColor="primary" [tabPanel]="tabPanel">
          <a mat-tab-link routerLink="" [active]="router.url === '/'">Inicio</a>
          <a mat-tab-link routerLink="ideasBank" [active]="router.url === '/ideasBank'"> Banco de ideas </a>
          <a mat-tab-link routerLink="sinafip" [active]="router.url === '/sinafip'"> Sinafip </a>
          <a mat-tab-link routerLink="checkProjects" [active]="router.url === '/checkProjects'"> Seguimiento de la
            preinversión </a>

        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="reports">
            <mat-icon>summarize</mat-icon>
            <span>Reportes</span>
          </button>

          <button mat-menu-item routerLink="configs">
            <mat-icon>category</mat-icon>
            <span>Parametrización</span>
          </button>
        </mat-menu>


        <span fxFlex></span>

        <div fxHide.lt-md *ngIf="session">{{ session.usuario.username }}</div>

        <app-theme-button></app-theme-button>

        <button mat-icon-button *ngIf="session" (click)="logout()" color="accent" matTooltip="Cerrar Sesión">
          <mat-icon>logout</mat-icon>
        </button>

      </mat-toolbar>

      <router-outlet></router-outlet>

    </div>

  </mat-drawer-content>
</mat-drawer-container>
<!-- ----- drawer 1 ----- -->
