<div ngClass.gt-sm="content-index" ngClass.lt-md="content-index">

  <header fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center" class="active-elevation">

    <button mat-mini-fab color="accent" (click)="openDrawer1('50%', 'NEW_FINANCING', null)" color="accent" class="menu-button-add"
      matTooltip="Crear Financiamiento">
      <mat-icon>add</mat-icon>
    </button>

    <p class="mat-headline-6">Parametrización / Financiamientos</p>
    <span fxFlex></span>

    <mat-form-field appearance="outline" class="barrabusqueda">
      <mat-label>Busqueda</mat-label>
      <input matInput formControlName="name" type="text" placeholder="Buscar financiamiento..." />
      <mat-icon matSuffix>search</mat-icon>
      <mat-error> </mat-error>
    </mat-form-field>
  </header>

  <ngx-simplebar class="table active-elevation">
    <!-- <app-not-found *ngIf="dataSource.data.length === 0"
      text="Por favor suba el reporte del banco para poder cargar pagos..."></app-not-found> -->
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon fontIcon="account_balance"></mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </ngx-simplebar>

</div>
