
.content-desktop {
  height: 100%;
}

.content-index {
  padding: 0 16px;
}

header {
  /* Blur effect */
  background: rgba(120, 192, 255, 0.2);
  backdrop-filter: blur(18px); // This be the blur

  /* Position */
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */

  border-radius: 4px;
  margin: 16px 0;
  padding: 0 16px;
}

header p {
  padding-top: 16px;
}

.pointer {
  cursor: pointer !important;
}

.radius {
  border-radius: 16px !important;
}
